<html>
  <h1>Welcome, <%= @user.email.capitalize %>!</h1>
  <form action="/videogames/new" method="GET">
    <button type="submit">Add new video game</button>
  </form>
  <h3>All Video Games</h3>
  <% if @videogames.empty? %>
    <p>No Video Games in the Collection!</p>
  <% else %>
    <table>
      <thead>
        <th>Email</th>
        <th>Title</th>
        <th>Date Purchased</th>
      </thead>
      <tbody>
        <% @videogames.each do |videogame| %>
          <tr>
            <td><h5><a href="/users/<%= videogame.user_id %>"><%= videogame.user.email %></a></h5></td>
            <td><%= videogame.title %></td>
            <td><%= videogame.date_purchased %></td>
            <form action="/videogames/<%= videogame.id %>" method="get">
              <td><button type="submit">See Details</button></td>
            </form>

            <% if videogame.user == current_user %>
              <form action="/videogames/<%= videogame.id %>/edit" method="GET">
                <td>
                  <button type="submit">Edit Video Game</button>
                </td>
              </form>

              <form action="/videogames/<%= videogame.id %>/delete" method="POST">
                <input id="hidden" type="hidden" name="_method" value="DELETE">
                <td>
                  <button type="submit">Delete Video Game</button>
                </td>
              </form>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<html>