<html>
  <h1>Videogame Title: <%=@videogame.title%></h1>
  <h3>Date Purchased: <%= @videogame.date_purchased %></h3>
  <h3>Created By: <a href="/users/<%= @videogame.user_id %>"><%= @videogame.user.email %></a></h3>
  <br>
  <% if @videogame.user == current_user %>
    <div>
      <form action="/videogames/<%= @videogame.id %>/edit" method="GET">
      <button type="submit">Edit Videogame</button>
      </form>
    </div>
    <br>
    <div>
      <form action="/videogames/<%= @videogame.id %>/delete" method="POST">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete Video Game</button>
      </form>
    </div>
    <br>
    <div>
      <form action="/videogames/new" method="GET">
        <button type="submit">Add New Video Game </button>
      </form>
    </div>
  <% end %>
</html>